<div id="wrapper">
    <div id="header">
       <%= image_tag 'rogo4.jpg', class: 'rogo' %>
    </div>
        
    <div id="main">
      ログイン失敗です
      <%= link_to '戻る', :back, class: 'button02' %>
    </div>
    
    <div id="footer">
      (c)copy right
    </div>
</div>


